{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "template.njk" %}

{% block content %}
  {{ govukBackLink({
    text: "Back",
    href: "/tasks"
  }) }}
  <h1 class="govuk-heading-xl">{{ task.title }}</h1>

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Date created"
        },
        value: {
          text: task.createdDate
        }
      },
      {
        key: {
          text: "Description"
        },
        value: {
          text: task.description
        }
      },
      {
        key: {
          text: "Due date"
        },
        value: {
          text: task.dueDate
        }
      }

    ]
  }) }}

  <form method="post" action="/tasks/{{ task.id }}">
    {{ govukSelect({
      id: "status",
      name: "status",
      label: {
        text: "Status",
        classes: "govuk-label--s"
      },
      items: [
        {
          value: "TODO",
          text: "To do",
          selected: task.status == "TODO"
        },
        {
          value: "IN_PROGRESS",
          text: "In progress",
          selected: task.status == "IN_PROGRESS"
        },
        {
          value: "DONE",
          text: "Done",
          selected: task.status == "DONE"
        }
      ]
    }) }}
    {{ govukButton({
      text: "Update",
      id: "update-task-button"
    }) }}
  </form>

  <form method="post" action="/tasks/{{ task.id }}/delete">
    {{ govukButton({
      id: "delete-task-button",
      text: "Delete",
      classes: "govuk-button--warning",
      type: "submit"
    }) }}
  </form>
{% endblock %}
